*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    background-color: #f0f0f0;
    margin-top: 10px;
    margin-bottom: 10px;
}
p{
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}


header {
    background-color: #47ace0;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    text-align: center;
}

.menu {
    list-style: none;
    border: 1px solid #c0c0c0;
    float: left;
    width: 100%;
}

.menu li {
    position: relative;
    float: left;
    border-right: 1px solid #c0c0c0;
}

.menu li a {
    color: #333;
    text-decoration: none;
    padding: 10px 41.75px;
    display: block;
}

.menu li a:hover {
    background: #47ace0;
    color: #fff;
    box-shadow:  5px 5px  #CCC;
    text-shadow: 0px 0px #fff;
}

.menu li ul {
    position:sticky;
    top: 25px;
    left: 0;
    background-color: #fff;
    display:none;
}

.menu li:hover ul, 
.menu li.over ul {
    display: block;
}

.menu li ul li {
    border: 1px solid #c0c0c0;
    display: block;
    width: 150px;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.dados{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #47ace0;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 10px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

.info-section {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.info-section p {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}